# META 
*.DS_Store
.metadata
*.settings/*
.settings/

# USER FILE NEGATIONS
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/c_cpp_properties.json

# BUILD 
*/Debug/*
*.prefs
/CM4/build/*
/CM7/build/*
/build/*

# TEMP
*.o
*.obj
*.d
*.lst
*.elf
*.bin
*.hex
*.map
*.out

*.log
# *.launch
*.bak
# *.tmp
# *.icf



# NOTE: git rm --cached -r CM4/.settings || git rm --cached -r CM7/.settings
